

body {
  margin: 0;
  font-family: "BriemScript",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --popup-background-color: #fff; /* Default color */
  --popup-border-radius:10px;
}

@font-face {
  font-family: "BriemScript";
  src: local("BriemScript"),
   url("./Fonts/BriemScript.otf") format("truetype");
 }

@font-face {
  font-family: "Gotu";
  src: local("Gotu"),
   url("./Fonts/Gotu.ttf") format("truetype");
 }

 
 .mapboxgl-popup-content{
  background-color: var(--popup-background-color);
  width: 405px;
  border-radius:var(--popup-border-radius);
 }
 .mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-bottom-color:  var(--popup-background-color); 
 }