

body {
  margin: 0;
  font-family: "BriemScript",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: "BriemScript";
  src: local("BriemScript"),
   url("./Fonts/BriemScript.otf") format("truetype");
 }

@font-face {
  font-family: "Gotu";
  src: local("Gotu"),
   url("./Fonts/Gotu.ttf") format("truetype");
 }

 